.nav{
	padding-top: 14px;
	padding-bottom: 14px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden; /* clear floats */
}

.nav__logo{
	float: left;
}

.nav__list{
	float: right;
	margin-top: 31px;
	margin-bottom: 31px;

	/*remove default ul styles*/
	list-style-type: none;
	padding-left: 0;
	
}

.nav__item{
	float: left;
}

.nav__link{
	/* Style as buttons */
	display: block;
	background-color: #E64A19;
	text-decoration: none;
	color: white;
	padding: 10px 24px;
	transition: background-color 100ms;
}

.nav__link:hover,.nav__link:focus{
	background-color: #F4511E;
}
.nav__link:active{
	background-color: #FF5722;
}